.card-area {
  width: 80%;
  height: 80%;
  border: 3px solid black;
  border-radius: 15px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: .7s;
  backface-visibility: hidden;
}

/* 앞면 , 뒷면 */
.card>div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  border-radius: 10px;
}

.card-front {
   background-color: rgb(239, 144, 241);
}

.card-back {
  background-color: rgb(49, 49, 151);
  transform: rotateY(180deg);
}

.flip>.card {
  transform: rotateY(180deg);
}

main {
  background-color: rgba(26, 145, 249, 0.222);
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-auto-rows: 120px;
  place-items: center center;
  place-content: center center;

}

.hide {
  visibility: hidden;
}